@{
    ViewBag.Title = "User";
    ViewBag.CTitle = "List User Access History";
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-layers text-primary"></i>
            </span>
            <h3 class="card-label">
                List User Access History
            </h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="get_table">
            <thead>
                <tr>
                    <th class="text-center">User Name</th>
                    <th class="text-center">Sum Access</th>
                    <th class="text-center">Date Input</th>
                    <th class="text-center">Package</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="~/assets/js/app/user/get_user_access_ht.js?v=@System.Configuration.ConfigurationManager.AppSettings.Get("vesion_js")"></script>

