<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="email_user" value="no-reply-enkripasign@outlook.com" />
    <add key="email_cred" value="GUUxIPFTFyiBlV8fsAxOGnCA434XlOYrMJC6bxB9tjo7s8x694eFzW8zKhn0GVGChNjD2jgDEWQM3p0=" />
    <add key="smtp_port" value="587" />
    <add key="smtp_host" value="smtp.outlook.com" />
    <add key="imap_port" value="993" />
    <add key="imap_host" value="imap.outlook.com" />

    <add key="day_run" value="0" />
    <add key="clock_run" value="13" />
    <add key="minute_run" value="26" />

    <add key="BASEURL_APP" value="https://sign.enkripa.id/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>