@{
    ViewBag.Title = "Certificate";
    ViewBag.CTitle = "List Certificate";
}

    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon2-layers text-primary"></i>
                </span>
                <h3 class="card-label">
                    Log Access DSS
                </h3>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="get_table">
                <thead>
                    <tr>
                        <th class="text-center">User Name</th>
                        <th class="text-center">Timestamp</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

<script src="~/assets/js/app/log_access/get.js?v=@System.Configuration.ConfigurationManager.AppSettings.Get("vesion_js")"></script>

